div 
{
    /*display:none;*/
    width:300px;
    height:100px;
    background:#99ccff;
}

dd,dt
{
    margin:10px;
    width:400px;
    padding:10px;
}

dt
{
    height:50px;
    background:#99ccff;
    font-size:150%;
}
dd
{
     height:150px;
    background:#99aaee;
    display:none;
}

#space
{
    height:100px;
    border:1px solid black;
    width:300px;
}

body
{
    color:Blue;    
}